input(class="form-control" list="mapSearchOptions" id="mapSearchBar" placeholder="Type to search...")
datalist(id="mapSearchOptions")
  option(value="Type to search...")
script(src="/scripts/mapSearchBar.js")